<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sand-Stone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
  </head>
  <body >
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a  class="navbar-brand">หิน-ทราย ศรีสะเกษ-อุบลราชธานี</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/stone">Stone</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/stand">Stand</a>
                   </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                   </li>
                </ul>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" target="_blank" href="https://jsfiddle.net/bootswatch/mqoc3ah6/">Open in JSFiddle</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../4/solar/bootstrap.min.css" download>bootstrap.min.css</a>
                <a class="dropdown-item" href="../4/solar/bootstrap.css" download>bootstrap.css</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../4/solar/_variables.scss" download>_variables.scss</a>
                <a class="dropdown-item" href="../4/solar/_bootswatch.scss" download>_bootswatch.scss</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Sand-Stone</h1>
            <p class="lead">แนะนำผู้จำหน่ายทราย-หิน จังหวัดศรีสะเกษ-อุบลราชธานี</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
          </div>
        </div>
      </div>

      <div class="bs-docs-section">

        <div class="row">
            <h2>ชื่อสินค้า : หิน</h2>
          </div>
        </div>
        <div class="row">
          <div class=col-xl-3 >
            <div class="bs-component">
              <div class="card text-white bg-danger mb-6" style="max-width: 20rem;">
                <div class="card-header">จังหวัดศรีสะเกษ</div>
                <div class="card-body">
                  <h4 class="card-title">สอบถามเพิ่มเติม</h4>
                  <p class="card-text">โทร : 089-9173762</p>
                  <div class="card text-white  mb-1" style="max-width: 10rem;">
                    <a class="nav-link"class="nav-item" href="/stone1"> รายละเอียดเพิ่มเติม</a>
                  </div>
                </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">จังหวัดศรีสะเกษ</div>
                <div class="card-body">
                  <h4 class="card-title">สอบถามเพิ่มเติม</h4>
                  <p class="card-text">โทร 093-4108207</p>
                  <div class="card text-white  mb-1" style="max-width: 10rem;">
                    <a class="nav-link"class="nav-item" href="/stone2"> รายละเอียดเพิ่มเติม</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">จังหวัดอุบลราชธานี</div>
                <div class="card-body">
                  <h4 class="card-title">สอบถามเพิ่มเติม</h4>
                  <h4 class="card-title">โทร: 062-1681064</h4>
                  <div class="card text-white  mb-1" style="max-width: 10rem;">
                    <a class="nav-link"class="nav-item" href="/stone3"> รายละเอียดเพิ่มเติม</a>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-info mb-2" style="max-width: 18rem;">
                <div class="card-header">จังหวัดอุบลราชธานี</div>
                <div class="card-body">
                  <h4 class="card-title">สอบถามเพิ่มเติม</h4>
                  <h4 class="card-title">โทร: 083-8298451</h4>
                  <div class="card text-white  mb-1" style="max-width: 10rem;">
                    <a class="nav-link"class="nav-item" href="/stone4"> รายละเอียดเพิ่มเติม</a>
                  </div>
            </div>
        </div>
    </div>
     <img src="https://www.img.in.th/images/d8d7cc0c26f797f5f95672a5928ac058.png" alt="783e93e542a18a9b99dabebf382e1387.jpg" style=" width: auto50%; height: 50%;" alt="">
    </div>

</body>
</html>